<html>
    <head>
        <link rel="stylesheet" href="renew.component.css">
    </head>
    <body>
        <div id="renew">
            <h1> Renew Insurance </h1>
        </div>
        <div id="renew1">
            <form class="form">
                <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Policy Number</mat-label>
                  <input matInput placeholder="Ex. 235445576">
                </mat-form-field><br><br><br>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Ex. 9845576578">
                </mat-form-field><br><br><br>
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. abc@mail.com">
                </mat-form-field>
                <div class="button-row">
                    <a mat-raised-button target="_blank">Submit</a>
                  </div>
              </form>
        </div>
    </body>
</html>
