<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
            aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../assets/images/image1.jpg">

            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Book Your Insurance</h1>
                    <p>Get Your Car Insurance</p>
                    <p><a class="btn btn-lg btn-primary" href="">Get Your Insurance</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/image3.jpg">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Book Your Insurance</h1>
                    <p>Book car Insurance</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/image4.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Book Your Insurance</h1>
                    <p>Plan Your Bike Insurance</p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../assets/images/image5.png">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Book Your Insurance</h1>
                    <p>Plan your Insurance In Easy Way</p>

                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="main my-3">
    <div class="whyinsurance">
        <h2 class="text-center">Why Insurance ?</h2>
        <div class="content">
            <h5>1. Financially Security</h5>
            <p>No matter how much you are earning or how much you have saved; your financial position can be dented by
                an unexpected event in a moment.</p>
        </div>
        <div class="content">
            <h5>2. Transfer of Risk</h5>
            <p>The contract of insurance works on the ‘principle of transfer of financial risk from the insured to the
                insurer’. </p>
        </div>

        <div class="content">
            <h5>3. Complete Protection for You and Your Family</h5>
            <p>Family is the most important asset that you have and your family also depends on you for financial
                support.</p>
        </div>

    </div>
    <!--  Buttons-->

    <div class="useful-links">
        <button class="btn btn-primary my-2" type="button">Buy Insurance</button>
        <!-- <button class="btn btn-primary my-2" type="button" [routerLink]="'/renew'">Renew Insurance</button> -->
        <button class="btn btn-primary my-2" type="button" (click)="goToPage('renew')">Renew Insurance</button>
        <!-- <button class="btn btn-primary my-2" type="button" [routerLink]="'/claims'">Claim Insurance</button> -->
        <button class="btn btn-primary my-2" type="button">Estimate Insurance Calculation</button>
    </div>
</div>

