<form class="my-5 forgot">
    <h2 class="text-center">Forgot Password</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">Enter your email address and we'll send you an email with instructions to reset your password.</small>
      
    </div>
    <div class="col-md-12 text-center my-3">
        <button type="button" class="btn btn-primary mx-1">Submit</button>
    </div>

  </form>